# ignore data and checkpoints folders
./1/
./data/
../MNIST/
../nlp-optimizers/lightning-experiments/MNIST/
../nlp-optimizers/lightning-experiments-2/logs/

# ignore any log folder
**/logs/**
```
# Ignore all `__pycache__` folders.
**/__pycache__/**

**/MNIST/** 

**/datasets/** 

fosi.zip

**/model_checkpoint

beta-4-fosi-adam/wandb/debug-internal.log
beta-4-fosi-adam/wandb/debug.log
beta-4-fosi-adam/wandb/latest-run